.about-service {
  background: @basic-dark url("../img/decorative/mobile-background-size-s@1x.jpg") no-repeat left 50% bottom 0;
  background-size: 320px auto;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: 2dppx) {
    background: @basic-dark url("../img/decorative/mobile-background-size-s@2x.jpg") no-repeat left 50% bottom 0;
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: none;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 0 0 56px 56px;
  }
}

.about-service__container {
  @media (min-width: @tablet-width) {
    position: relative;
    padding: 38px 0 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 212px;
      content: "";

      background-color: #141b3b;
      border-radius: 25px;
    }

    &::after {
      position: absolute;
      top: 48px;
      right: -40px;

      content: "";
      width: 376px;
      height: 548px;

      background: @basic-dark url("../img/decorative/mobile-background-size-m@1x.jpg") no-repeat right 0 top 0;
      background-size: 384px auto;

      @media (min-resolution: 2dppx) {
        background: @basic-dark url("../img/decorative/mobile-background-size-m@2x.jpg") no-repeat right 0 top 0;
        background-size: 384px auto;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 62px 0 163px;
    background: url("../img/decorative/mobile-background-size-l@1x.jpg") no-repeat top 4px left -2px;
    background-size: 1322px;

    @media (min-resolution: 2dppx) {
      background: url("../img/decorative/mobile-background-size-l@2x.jpg") no-repeat top 4px left -2px;
      background-size: 1322px auto;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.about-service__intro {
  width: 252px;
  padding-left: 24px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;

    display: grid;
    width: 340px;
    padding-left: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 710px;
    padding-left: 71px;
  }
}

.about-service__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 59px;
  }
}

.about-service__text {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.about-service__note {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;

    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
    margin-bottom: 87px;
  }
}

.about-service__note-dash {
  font-family: "Arial", sans-serif;
}

.about-service__more {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
    padding: 28px 35px 28px 33px;
    justify-self: start;
    min-width: 274px;
  }
}
