.address-info__inner {
  position: relative;
  z-index: 2;

  padding: 61px 0 35px;
  background-color: @basic-yellow;
  border-radius: 0 0 25px 25px;

  @media (min-width: @tablet-width) {
    padding: 108px 0 84px;
    border-radius: 0 0 50px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 0 56px;
    border-radius: 0 0 60px 60px;
  }
}

.address-info__container {
  @media (min-width: @tablet-width) {
    padding: 0 35px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    padding: 0 75px 0 223px;
    grid-template-columns: 1fr 324px;
    gap: 30px;
    align-items: center;
  }
}

.address-info__map-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -30px;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
  }
}

.address-info__map {
  display: block;
  width: 100%;
  border: none;

  @media (min-width: @tablet-width) {
    height: 584px;
  }

  @media (min-width: @desktop-width) {
    height: 516px;
  }
}
