.address-info__inner {
  position: relative;
  z-index: 1;
  padding: 33px 0 35px;
  background-color: @basic-yellow;
  border-radius: 0 0 25px 25px;
}

.address-info__map-wrapper {
  margin-top: -80px;
}

.address-info__map {
  width: 100%;
}
