.calendar-table {
  border-collapse: collapse;
}

.calendar-table__weekday {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-grey;
}

.calendar-table__weekday--weekend {
  color: @basic-red;
}

.calendar-table__full-weekday-name {
  display: none;
}

.calendar-table__date {
  padding: 0;
  border: 1px solid @special-light-grey;
}
