.catalog-filter {
  border: none;

  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    &:first-of-type {
      padding-top: 25px;
      border-top: 1px solid @basic-yellow-dark;
    }

    &:last-of-type {
      padding-bottom: 22px;
      border-bottom: 1px solid @basic-yellow-dark;
    }
  }
}

.catalog-filter--hidden .catalog-filter__content {
  @media (max-width: @ls-tablet) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.catalog-filter__inner-layout {
  display: grid;
  justify-items: start;

  @media (max-width: @ls-tablet) {
    border-top: 1px solid @basic-yellow-dark;
  }

  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    grid-template-columns: 108px 1fr;
    column-gap: 14px;
    align-items: center;
  }
}

.catalog-filter__title {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  margin: 0;
  padding: 11px 4px 10px 0;
  align-self: end;
  justify-items: start;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: uppercase;
  text-align: start;

  &::after {
    grid-column: 2 / 3;
    justify-self: end;
    width: 10px;
    content: "";

    border-top: none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid @basic-blue-light;
    border-left: 5px solid transparent;

    @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    pointer-events: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
    pointer-events: all;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus:not(:focus-visible) {
    opacity: 1;
  }

  &:focus:not(:focus-visible):hover {
    opacity: 0.6;
  }

  &:focus:not(:focus-visible):active {
    opacity: 0.3;
  }

  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-filter__title-colon {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    display: inline-block;
  }
}

.catalog-filter--hidden .catalog-filter__title::after {
  border-top: 5px solid @basic-blue-light;
  border-bottom: none;
}

.catalog-filter__content {
  display: grid;
  margin-top: 4px;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

.catalog-filter__content--range {
  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 11px;
  }
}

.catalog-filter__prefer-transport {
  @media (min-width: @desktop-width) {
    margin-top: 11px;
    margin-left: 5px;
  }
}

.catalog-filter__field-wrapper {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) and (max-width: @ls-desktop) {
    width: 164px;
    margin-right: 5px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.catalog-filter__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 9px;
  align-items: center;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-black;

  cursor: pointer;

  &::before {
    grid-column: 1 / 2;
    width: 18px;
    height: 18px;
    content: "";

    background-color: @basic-white;
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    padding-left: 5px;
    grid-template-columns: 24px 1fr;
    column-gap: 12px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      grid-column: 1 / 2;
      width: 24px;
      height: 24px;
      content: "";

      background-color: @basic-white;
      border-radius: 4px;
    }
  }

  &:hover,
  &:focus {
    color: fade(@basic-black, 60);

    &::before {
      background-color: fade(@basic-white, 60);
    }
  }

  &:focus:not(:focus-visible) {
    color: @basic-black;

    &::before {
      background-color: @basic-white;
    }
  }

  &:focus:not(:focus-visible):hover {
    color: fade(@basic-black, 60);

    &::before {
      background-color: fade(@basic-white, 60);
    }
  }

  &:focus:not(:focus-visible):active {
    color: fade(@basic-black, 30);

    &::before {
      background-color: @basic-white;
      opacity: 0.3;
    }
  }

  &:focus-visible {
    color: fade(@basic-black, 60);
    outline: none;

    &::before {
      background-color: fade(@basic-white, 60);
    }
  }

  &:active {
    color: fade(@basic-black, 30);

    &::before {
      background-color: @basic-white;
      opacity: 0.3;
    }
  }
}

.catalog-filter__field {
  &:checked + .catalog-filter__label::before {
    background-image: url("../img/icons/check-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:focus + .catalog-filter__label {
    color: fade(@basic-black, 60);

    &::before {
      background-color: fade(@basic-white, 60);
    }
  }

  &:active + .catalog-filter__label {
    color: fade(@basic-black, 30);

    &::before {
      background-color: @basic-white;
      opacity: 0.3;
    }
  }

  &:disabled + .catalog-filter__label {
    opacity: 0.2;
    pointer-events: none;
  }
}

.catalog-filter__range-fields-wrapper {
  position: relative;

  grid-row: 1 / 2;
  display: grid;
  margin-bottom: 23px;
  grid-template-columns: repeat(2, 1fr);

  background-color: transparent;
  border-radius: 4px;

  &::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 11px;
    content: "";

    background-color: @basic-white;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: 16px;
    content: "";

    border-top: 1px solid @special-light-grey;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 6px;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-bottom: 36px;
    margin-left: 5px;
  }
}

.catalog-filter__range-field {
  position: relative;

  width: 110px;
  padding: 9px 20px 8px;

  font-family: inherit;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: @basic-blue-light;
  text-align: center;

  border: 1px solid @special-light-grey;
  background-color: @basic-white;
  cursor: pointer;


  @media (min-width: @tablet-width) {
    width: 75px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 96px;
  }

  &:hover,
  &:focus {
    z-index: 1;
    border-color: #959bb2;
  }

  &:focus:not(:focus-visible) {
    z-index: auto;
    border-color: @special-light-grey;
  }

  &:focus:not(:focus-visible):hover {
    z-index: 1;
    border-color: #959bb2;
  }

  &:focus:not(:focus-visible):active {
    z-index: 1;
    border-color: @basic-blue;
    outline: none;
  }

  &:focus-visible {
    z-index: 1;
    border-color: #959bb2;
    outline: none;
  }

  &:active {
    z-index: 1;
    border-color: @basic-blue;
    outline: none;
  }
}

.catalog-filter__range-field:first-of-type {
  border-radius: 4px 0 0 4px;
}

.catalog-filter__range-field:last-of-type {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.catalog-filter__range-scale {
  position: relative;
  width: 220px;
  height: 2px;

  background-color: @special-blue-light-opacity-20;

  @media (min-width: @tablet-width) {
    width: 285px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    width: 192px;
  }
}

.catalog-filter__range-bar {
  position: absolute;
  right: 5px;
  left: 72px;
  height: 2px;
  background-color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    left: 113px;
  }

  @media (min-width: @desktop-width) {
    right: 1px;
    left: 71px;
  }
}

.catalog-filter__range-toggle {
  position: absolute;
  top: 50%;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: @basic-blue-light;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 13px;
  }

  &:hover,
  &:focus {
    width: 13px;
    height: 13px;

    @media (min-width: @tablet-width) {
      width: 19px;
      height: 19px;
    }
  }

  &:focus:not(:focus-visible) {
    width: 10px;
    height: 10px;

    @media (min-width: @tablet-width) {
      width: 13px;
      height: 13px;
    }
  }

  &:focus:not(:focus-visible):hover {
    width: 13px;
    height: 13px;

    @media (min-width: @tablet-width) {
      width: 19px;
      height: 19px;
    }
  }

  &:focus:not(:focus-visible):active {
    width: 13px;
    height: 13px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);

    @media (min-width: @tablet-width) {
      width: 19px;
      height: 19px;
    }
  }

  &:focus-visible {
    width: 13px;
    height: 13px;
    box-shadow: none;
    outline: none;

    @media (min-width: @tablet-width) {
      width: 19px;
      height: 19px;
    }
  }

  &:active {
    width: 13px;
    height: 13px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);

    @media (min-width: @tablet-width) {
      width: 19px;
      height: 19px;
    }
  }
}

.catalog-filter__range-toggle--min {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.catalog-filter__range-toggle--max {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
