.contact-info {
  background-color: @basic-yellow;
}

.contact-info__background {
  padding: 17px 0 29px;

  background-color: @basic-dark;
  border-radius: 0 0 25px 25px;
}

.contact-info__container {
  display: grid;
  grid-template-columns: 27px 1fr 27px;
}

.contact-info__text {
  grid-column: 2 / 3;
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
}

.contact-info__contacts-list {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
}
