.countries-list {
  list-style-type: none;
  border-radius: 0 0 4px 4px;
}

.countries-list--a {
  display: block;
}

.countries-list--form {
  border: 1px solid @special-light-grey;
  border-top: none;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.countries-list__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
