.countries__first-letters {
  margin: 0;
  padding: 0;
}

.countries__list {
  margin: 0;
}

.countries__list--form {
  padding: 20px 19px;
}

.countries__list--catalog {
  margin-top: 15px;
  padding: 0;
}
