.country-card {
  display: grid;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 270px;
  border-radius: 10px;

  &--thailand {
    background-image: url("../img/countries/thailand@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/thailand@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/countries/thailand-size-m@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/countries/thailand-size-m@2x.jpg");
      }
    }
  }

  &--france {
    background-image: url("../img/countries/france@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/france@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/countries/france-size-m@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/countries/france-size-m@2x.jpg");
      }
    }
  }

  &--czech {
    background-image: url("../img/countries/czech@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/czech@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/countries/czech-size-m@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/countries/czech-size-m@2x.jpg");
      }
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 431px 185px;
    background-position: center right;
    background-size: contain;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 373px 187px;
  }
}

.country-card__img {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 185px;
    height: 100%;

    border-radius: 0 20px 20px 0;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    width: 187px;
  }
}

.country-card__text {
  position: relative;
  z-index: 1;

  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin-top: 99px;
  padding: 24px 24px 23px;
  grid-template-columns: 1fr auto;

  background-color: @basic-white;
  border-radius: 10px;

  &::after {
    position: absolute;
    top: -13px;
    left: 25px;

    width: 35px;
    height: 24px;
    content: "";

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 4px;
  }

  &--thailand::after {
    background-image: url("../img/countries/flags/thailand@1x.jpg");
  }

  &--france::after {
    background-image: url("../img/countries/flags/france@1x.jpg");
  }

  &--czech {
    margin-top: 98px;
  }

  &--czech::after {
    background-image: url("../img/countries/flags/czech@1x.jpg");
  }

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    min-height: 140px;
    margin-top: 0;
    padding: 28px 29px 19px;

    border-radius: 20px 0 0 20px;

    &::after {
      top: 17px;
      left: calc(100% - 35px);

      width: 73px;
      height: 47px;

      border-radius: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 22px;

    &::after {
      top: 23px;
      left: calc(100% - 37px);
    }
  }
}

.country-card__title {
  display: block;
  margin: 0;
  margin-bottom: 3px;
  justify-self: start;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 1px;
  }
}

.country-card__subtitle {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: @special-grey;
  opacity: 0.3;

  @media (max-width: @ls-tablet) {
    grid-column: 1 / 3;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    letter-spacing: 0.6px;
  }
}

.country-card__number {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-width: 62px;
  margin: 0;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  justify-content: start;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: fade(@special-grey, 30);

  &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 14px;
    height: 14px;

    content: "";

    background: transparent url("../img/icons/user.svg") no-repeat center;
    background-size: contain;
    opacity: 0.1;
  }

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    column-gap: 8px;
  }
}
