.countries-preview {
  background-color: @basic-light-grey;
  border-radius: 0 0 25px 25px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.countries-preview__container {
  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0 34px;
    background: url("../../img/decorative/flags-background@1x.jpg") no-repeat top 0 left 0;
    background-size: 688px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 160px;
    padding: 73px 0 51px 73px;
    justify-items: center;
    background-image: url("../../img/decorative/flags-background-size-l@1x.jpg");
    background-size: 1322px;
  }
}

.countries-preview__cards {
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.countries-preview__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.countries-preview__item {
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
  }
}

.countries-preview__item:last-child {
  margin-bottom: 0;
}

.countries-preview__intro {
  width: 224px;
  padding-left: 24px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    width: 375px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    justify-self: start;
    width: 350px;
  }
}

.countries-preview__title {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.countries-preview__text {
  margin: 0;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 98px;
  }
}

.countries-preview__more {
  padding: 23px;

  @media (min-width: @tablet-width) {
    max-width: 616px;
    padding: 28px 30px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: start;
    min-width: 275px;
  }
}
