.first-letters__item {
  padding: 0;
}

.first-letters__item--catalog {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  overflow-wrap: break-word;

  background-color: @basic-white;
  border: 1px solid @special-light-grey;

  @media (max-width: calc(@tablet-width - 1px)) {
    max-width: 43px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: @basic-blue-light;

    background-color: transparent;
    border: none;
  }
}

.first-letters__item--form {
  width: 20%;
  max-width: 42px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;

  background-color: @basic-white;
  border: 1px solid @special-light-grey;

  @media (min-width: @desktop-width) {
    border-radius: 4px;
  }
}

.first-letters__link {
  display: grid;
  align-items: center;
  justify-items: center;

  font: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.first-letters__link--catalog {
  padding-top: 13px;
  padding-bottom: 13px;

  &:hover,
  &:focus {
    color: @basic-blue-light;
    background-color: @basic-white;
    outline: 1px solid #959bb2;
    outline-offset: 0;
  }

  &:focus:not(:focus-visible) {
    color: @basic-blue-light;
    background-color: @basic-white;
    outline: 1px solid @special-light-grey;
    outline-offset: 0;
  }

  &:focus:not(:focus-visible):hover {
    color: @basic-blue-light;
    background-color: @basic-white;
    outline: 1px solid #959bb2;
    outline-offset: 0;
  }

  &:focus:not(:focus-visible):active {
    color: @basic-white;
    background-color: @basic-blue-light;
    outline: 1px solid @basic-blue-light;
    outline-offset: 0;
  }

  &:focus-visible {
    color: @basic-blue-light;
    background-color: @basic-white;
    outline: 1px solid #959bb2;
    outline-offset: 0;
  }

  &:active {
    color: @basic-white;
    background-color: @basic-blue-light;
    outline: 1px solid @basic-blue-light;
    outline-offset: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 2px;
    padding-bottom: 16px;
    color: fade(@basic-blue-light, 30);

    &:hover,
    &:focus {
      color: fade(@basic-blue-light, 60);
      background-color: transparent;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      color: fade(@basic-blue-light, 30);
      background-color: transparent;
      outline: none;
    }

    &:focus:not(:focus-visible):hover {
      color: fade(@basic-blue-light, 60);
      background-color: transparent;
      outline: none;
    }

    &:focus:not(:focus-visible):active {
      color: @basic-blue-light;
      background-color: transparent;
      outline: none;
    }

    &:focus-visible {
      color: fade(@basic-blue-light, 60);
      background-color: transparent;
      outline: none;
    }

    &:active {
      color: @basic-blue-light;
      background-color: transparent;
      outline: none;
    }
  }
}

.first-letters__link--catalog-selected {
  color: @basic-white;
  background-color: @basic-blue-light;
  outline: 1px solid @basic-blue-light;
  outline-offset: 0;
  pointer-events: none;

  @media (min-width: @tablet-width) {
    color: @basic-blue-light;

    background-color: transparent;
    outline: none;
  }
}

.first-letters__link--form {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;

  &:hover,
  &:focus {
    outline: 1px solid #959bb2;
    outline-offset: 0;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus:not(:focus-visible):hover {
    outline: 1px solid #959bb2;
  }

  &:focus:not(:focus-visible):active {
    color: @basic-blue-light;
    background-color: @basic-light-grey;
    outline: 1px solid #959bb2;
  }

  &:focus-visible {
    color: @basic-blue-light;
    background-color: @basic-white;
    outline: 1px solid #959bb2;
  }

  &:active {
    color: @basic-blue-light;
    background-color: @basic-light-grey;
    outline: 1px solid #959bb2;
  }

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 20px;
    line-height: 20px;

    &:focus:not(:focus-visible):active {
      color: @basic-white;
      background-color: @basic-blue-light;
      outline: 1px solid @basic-blue-light;
    }

    &:active {
      color: @basic-white;
      background-color: @basic-blue-light;
      outline: 1px solid @basic-blue-light;
    }
  }

  @media (min-width: @desktop-width) {
    border-radius: 4px;
  }
}

.first-letters__link--form-selected {
  background-color: @basic-light-grey;
  pointer-events: none;

  @media (min-width: @tablet-width) {
    color: @basic-white;
    background-color: @basic-blue-light;
    outline: 1px solid @basic-blue-light;
    outline-offset: 0;
  }
}
