.leisure-plan {
  position: relative;

  &:not(:nth-child(3))::before {
    position: absolute;
    top: -102.5%;
    left: -14px;

    width: 17px;
    height: 288px;
    content: "";

    background: transparent url("../img/route-line.svg") no-repeat center;
    background-size: contain;
  }

  @media (min-width: @tablet-width) {
    &:not(:nth-child(3))::before {
      top: -110%;
      left: 524px;
      right: auto;

      width: 14px;
      height: 274px;
      content: "";

      background: transparent url("../img/route-line-tablet.svg") no-repeat center;
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:nth-child(3))::before {
      top: -108%;
      z-index: 2;
      right: auto;
      left: 768px;
    }
  }
}

.leisure-plan__country {
  position: relative;

  display: grid;
  max-width: 220px;
  min-height: 24px;
  margin-bottom: 14px;
  padding-left: 11px;
  align-items: center;
  overflow-wrap: break-word;

  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;

  &::after {
    position: absolute;
    right: 0;
    z-index: 1;

    width: 35px;
    height: 24px;
    content: "";

    background-color: @basic-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 24px;
    box-shadow: -25px 0 10px 15px #ffffff;
    border-radius: 4px;
  }

  &--bosnia::after {
    background-image: url("../img/countries/flags/bosnia@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/bosnia@2x.jpg");
    }
  }

  &--czech::after {
    background-image: url("../img/countries/flags/czech@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/czech@2x.jpg");
    }
  }

  &--australia::after {
    background-image: url("../img/countries/flags/australia@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/australia@2x.jpg");
    }
  }

  &--belgium::after {
    background-image: url("../img/countries/flags/belgium@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/belgium@2x.jpg");
    }
  }

  &--dominica::after {
    background-image: url("../img/countries/flags/dominica@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/dominica@2x.jpg");
    }
  }

  &--france::after {
    background-image: url("../img/countries/flags/france@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/france@2x.jpg");
    }
  }

  &--germany::after {
    background-image: url("../img/countries/flags/germany@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/germany@2x.jpg");
    }
  }

  &--seychelles::after {
    background-image: url("../img/countries/flags/seychelles@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/seychelles@2x.jpg");
    }
  }

  &--sri-lanka::after {
    background-image: url("../img/countries/flags/sri-lanka@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/sri-lanka@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 505px;
    min-height: 47px;
    margin-bottom: 30px;
    margin-left: 0;
    padding-left: 2px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 700;

    &::after {
      width: 70px;
      height: 47px;

      background-size: 70px 47px;

      border-radius: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 886px;
    min-height: 58px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-bottom: 10px;

    &::after {
      box-shadow: -65px 0 10px 15px #ffffff, 35px 0 10px 15px #ffffff;
    }
  }
}

.leisure-plan__input {
  width: 100%;
  height: 220px;
  padding: 9px 13px;

  font-family: @general-font-family;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;

  border: 1px solid @special-light-grey;
  border-radius: 4px;
  resize: none;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    height: 140px;
    padding: 16px 35px 16px 22px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    padding-top: 22px;
    padding-right: 15px;
    padding-left: 25px;
  }

  &:hover {
    border: 1px solid #959bb2;
  }

  &:focus {
    border: 1px solid @basic-blue;
    outline: none;

    &::placeholder {
      opacity: 1;
    }
  }
}
