.level {
  position: relative;

  display: grid;
  justify-items: center;

  &::before {
    position: absolute;
    top: 0;
    right: 0;

    width: 60px;
    height: 60px;
    content: "";

    border-radius: 50%;
  }
}

.level--catalog::before {
  position: absolute;
  top: 8px;
  left: 0;
  right: -20px;

  content: "";

  border-top: 1px solid @basic-light-grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.level__value {
  position: relative;
  display: grid;
  justify-items: center;
  width: 45px;
  height: 45px;

  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.level__value--preview {
  grid-auto-flow: row;

  width: 60px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.6);
}

.level__value--catalog {
  align-self: end;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    align-self: center;
  }
}

.level__title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 10px;
  padding-left: 6px;
  padding-right: 10px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: lowercase;

  background-color: @basic-white;
}

.level__title--catalog {
  max-width: 60px;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.level__number {
  font-weight: 700;
}

.level__number--preview {
  margin-bottom: 3px;
  align-self: end;

  font-size: 24px;
  line-height: 24px;
  color: @basic-white;
}

.level__number--catalog {
  align-self: center;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;

      content: "";

      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.level__number--form {
  align-self: end;
  font-size: 38px;
  line-height: 38px;
}

.level__text {
  position: relative;

  &::after {
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    content: "";

    border-top: 1px solid fade(@basic-white, 30);
  }
}

.level__text--preview {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @basic-white;
}

.level__text--form {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: @special-grey;

  &::after {
    right: -8px;
    left: -8px;
    border-top-color: fade(@special-grey, 30);
  }

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.level__text--catalog {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: @basic-black;
    opacity: 0.4;
  }
}

.level__rate-line {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.level__rate-line--catalog {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.level__rate-line--form {
  width: 95px;
  height: 95px;
}
