.main-menu {
  color: @basic-dark;
  background: @basic-white;

  @media (min-width: @desktop-width) {
    color: @basic-white;
    background: none;

    &::before {
      position: absolute;
      top: 49%;
      left: -60px;

      width: 60px;
      content: "";

      border-top: 2px solid @basic-white;
    }
  }
}

.main-menu__list {
  grid-column: 2 / 3;
  margin: 0 0 54px;
  padding: 0;

  text-align: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin: 0 97px 133px;

    text-align: start;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 1px;
    padding-left: 41px;
  }
}

.main-menu__item {
  display: grid;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-items: start;
  }

  @media (min-width: @desktop-width) {
    margin-right: 26px;
  }
}

.main-menu__link {
  display: inline-block;

  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 4px;
    font-size: 20px;
    line-height: 20px;

    overflow: hidden;
  }
}

.main-menu__link .main-menu__link-text {
  @media (min-width: @desktop-width) {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    color: inherit;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      font-weight: 700;
      transform: translate3d(0, 0, 0);
    }
  }
}

.main-menu__link:hover,
.main-menu__link:focus {
  @media (min-width: @desktop-width) {
    color: @basic-yellow;

    .main-menu__link-text {
      transform: translateY(-100%);
    }
  }
}

.main-menu__link:focus {
  @media (min-width: @desktop-width) {
    outline: none;
  }
}

.main-menu__link:focus:not(:focus-visible) {
  @media (min-width: @desktop-width) {
    color: @basic-white;

    .main-menu__link-text {
      transform: none;
    }
  }
}

.main-menu__link:focus:not(:focus-visible):hover {
  @media (min-width: @desktop-width) {
    color: @basic-yellow;

    .main-menu__link-text {
      transform: translateY(-100%);
    }
  }
}

.main-menu__link:focus:not(:focus-visible):active {
  @media (min-width: @desktop-width) {
    color: fade(@basic-yellow, 30);

    .main-menu__link-text {
      transform: translateY(-100%);
    }
  }
}

.main-menu__link:focus-visible {
  @media (min-width: @desktop-width) {
    color: @basic-yellow;

    .main-menu__link-text {
      transform: translateY(-100%);
    }
  }
}

.main-menu__link:active {
  @media (min-width: @desktop-width) {
    color: fade(@basic-yellow, 30);
  }
}

.main-menu__login {
  grid-column: 2 / 3;
  align-self: center;
  margin: 0 0 51px;
  padding: 15px 20px 15px 17px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-menu__login:hover,
.main-menu__login:focus {
  background-color: @special-yellow-dark;
}

.main-menu__login:focus:not(:focus-visible) {
  background-color: @basic-yellow;
}

.main-menu__login:focus:not(:focus-visible):hover {
  background-color: @special-yellow-dark;
}

.main-menu__login:focus:not(:focus-visible):active {
  background-color: @special-yellow-dark;
  color: fade(@basic-blue, 30);
}

.main-menu__login:focus-visible {
  background-color: @special-yellow-dark;
  outline: none;
}

.main-menu__login:active {
  color: fade(@basic-blue, 30);
}

.main-menu__contacts {
  grid-column: 2 / 3;
  margin: 0 0 29px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 97px 112px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-menu__social {
  display: flex;
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
