.month-filter {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
  justify-items: center;

  border-top: 1px solid @special-light-grey;
  border-bottom: 1px solid @special-light-grey;
}

.month-filter__months {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.month-filter__month {
  display: none;
  padding: 11px 20px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    padding: 27px 20px 23px;

    font-size: 36px;
    line-height: 36px;
  }
}

.month-filter__month--selected {
  display: inline-block;
}

.month-filter__control {
  opacity: 0.3;

  .month-filter__control-img {
    fill: @basic-black;

    @media (min-width: @tablet-width) {
      width: 30px;
      height: 36px;
    }

    @media (min-width: @desktop-width) {
      width: 35px;
      height: 30px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:focus:not(:focus-visible) {
    opacity: 0.3;
  }

  &:focus:not(:focus-visible):hover {
    opacity: 0.5;
  }

  &:focus:not(:focus-visible):active {
    opacity: 0.1;
  }

  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }

  &:active {
    opacity: 0.1;
  }
}
