.new-plan__container {
  @media (min-width: @tablet-width) {
    padding: 0 37px;
  }
}

.new-plan__title {
  margin: 0;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;

    font-size: 36px;
    line-height: 36px;
  }
}
