.new-plan-form__step {
  margin-bottom: 10px;
  padding: 24px 25px 5px;
  background-color: @basic-white;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    padding-bottom: 23px;
  }
}

.new-plan-form__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}

.new-plan-form__step-num {
  display: block;
}

.new-plan-form__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
}

.new-plan-form__steps-indicators {
  display: none;
}

.new-plan-form__filter {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.new-plan-form__filter--kids {
  margin-bottom: 25px;
}

.new-plan-form__next-step {
  width: 100%;
  color: @basic-blue-light;
}

.new-plan-form__prev-step {
  margin-top: 5px;
  background-color: transparent;
  color: @basic-blue-light;
}

.new-plan-form__leisure {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 22px;
  }
}
