.next-country {
  position: relative;
  border-radius: 4px;

  @media (max-width: calc(@tablet-width - 1px)) {
    &:not(:first-child)::before {
      position: absolute;
      top: -17px;
      right: 47px;

      width: 10px;
      height: 10px;
      content: "";

      background: transparent url("../img/icons/arrow-route.svg") no-repeat center;
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 730px 1fr;
  }
}

.next-country__choice {
  position: relative;
  justify-items: start;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  white-space: nowrap;

  border-radius: 4px;

  &::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50px;

    width: 8px;
    height: 8px;

    content: "";
    background-color: @basic-white;
    border: 1px solid @special-light-grey;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: auto;
    pointer-events: none;
  }

  &--bosnia::after {
    background-image: url("../img/countries/flags/bosnia@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/bosnia@2x.png");
    }
  }

  &--czech::after {
    background-image: url("../img/countries/flags/czech@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/czech@2x.png");
    }
  }

  @media (min-width: @tablet-width) {
    @flag-width: 165px;
    width: calc(100% - @flag-width);

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;

    &::before {
      position: absolute;
      z-index: 2;
      top: 47%;
      right: -32px;

      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 730px;

    &::before {
      right: -53px;
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.next-country__name {
  position: relative;

  display: grid;
  width: 100%;
  padding: 11px 7px 11px 10px;
  justify-content: start;

  border: 1px solid @special-light-grey;
  border-radius: 4px;
  letter-spacing: 1.4px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding: 24px 29px 24px 25px;
    letter-spacing: 2px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.next-country__choice--completed {
  @flag-width: 53px;

  width: calc(100% - @flag-width);

  &::after {
    position: absolute;
    left: 100%;
    width: @flag-width;
    height: 100%;

    content: "";

    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px auto;
    border: 1px solid @special-light-grey;
    border-radius: 4px;
    border-left-width: 0.5px;
    pointer-events: none;
    cursor: auto;
  }

  &::before {
    right: -3px;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
  }

  &:hover .next-country__name,
  &:focus .next-country__name {
    border-color: #959bb2;
  }

  &:focus:not(:focus-visible) .next-country__name {
    border-color: @special-light-grey;
  }

  &:focus:not(:focus-visible):hover .next-country__name {
    border-color: #959bb2;
  }

  &:focus-visible .next-country__name {
    border-color: #959bb2;
    outline: none;
  }

  &:focus:not(:focus-visible):active {
    border-radius: 4px 0 0 0;
  }

  &:focus:not(:focus-visible):active::before {
    display: none;
  }

  &:focus:not(:focus-visible):active::after {
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 0 4px 0 0;
  }

  &:focus:not(:focus-visible):active .next-country__name {
    color: @basic-white;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 0 0 0;
  }

  &:active {
    border-radius: 4px 0 0 0;
  }

  &:active::before {
    display: none;
  }

  &:active::after {
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 0 4px 0 0;
  }

  &:active .next-country__name {
    color: @basic-white;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 0 0 0;
  }

  &:active .next-country__control--show-countries {
    display: none;
  }

  &:active .next-country__control--hide-countries {
    display: block;
  }

  @media (min-width: @tablet-width) {
    @flag-width: 165px;
    width: calc(100% - @flag-width);

    &::after {
      left: 114%;

      width: 70px;
      height: 47px;

      background-size: 70px auto;
      border: none;
    }

    &::before {
      right: -32px;
    }

    &:focus:not(:focus-visible):active {
      border-radius: 4px 4px 0 0;
    }

    &:focus:not(:focus-visible):active::before {
      display: block;
    }

    &:focus:not(:focus-visible):active::after {
      border-radius: 4px;
      border-color: transparent;
      background-color: transparent;
    }

    &:focus:not(:focus-visible):active .next-country__name {
      border-radius: 4px 4px 0 0;
    }

    &:active {
      border-radius: 4px 4px 0 0;
    }

    &:active::before {
      display: block;
    }

    &:active::after {
      border-radius: 4px;
      border-color: transparent;
      background-color: transparent;
    }

    &:active .next-country__name {
      border-radius: 4px 4px 0 0;
    }

    &:focus:active .next-country__name {
      border-radius: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 730px;

    &::before {
      right: -53px;
    }

    &::after {
      left: 112%;
    }
  }
}

.next-country__choice--active {
  color: @basic-white;
  background-color: @basic-blue-light;
  border-color: @basic-blue-light;
  border-radius: 4px 4px 0 0;

  &::before {
    display: none;
  }

  .next-country__control--hide-countries {
    display: block;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 370px 1fr;

    &::before {
      display: block;
    }

    &:hover .next-country__control--hide-countries,
    &:focus .next-country__control--hide-countries {
      stroke: @basic-white;
    }

    &:focus:not(:focus-visible) .next-country__control--hide-countries {
      stroke: fade(@basic-white, 30);
    }

    &:focus:not(:focus-visible):hover .next-country__control--hide-countries {
      stroke: @basic-white;
    }

    &:focus:not(:focus-visible):active .next-country__control--hide-countries {
      stroke: fade(@basic-white, 10);
    }

    &:focus-visible .next-country__control--hide-countries {
      stroke: @basic-white;
    }

    &:active .next-country__control--hide-countries {
      stroke: fade(@basic-white, 10);
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 730px 1fr;
  }
}

.next-country__choice--active .next-country__name {
  padding: 12px 7px 12px 16px;
  letter-spacing: 0.3px;
  border-color: @basic-blue-light;
  border-radius: 4px 4px 0 0;

  @media (min-width: @tablet-width) {
    padding: 22px 25px 25px 24px;
    letter-spacing: 2px;
  }
}

.next-country__choice--empty {
  &:hover .next-country__name,
  &:focus .next-country__name {
    border-color: #959bb2;
  }

  &:focus:not(:focus-visible) .next-country__name {
    border-color: @special-light-grey;
  }

  &:focus:not(:focus-visible):hover .next-country__name {
    border-color: #959bb2;
  }

  &:focus-visible .next-country__name {
    border-color: #959bb2;
    outline: none;
  }

  &:focus:not(:focus-visible):active {
    color: @basic-white;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 4px 0 0;
  }

  &:focus:not(:focus-visible):active .next-country__name {
    padding: 11px 7px 11px 11px;

    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 4px 0 0;
  }

  &:focus:not(:focus-visible):active .next-country__control--show-countries {
    display: none;
  }

  &:focus:not(:focus-visible):active .next-country__control--hide-countries {
    display: block;
  }

  &:active {
    color: @basic-white;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 4px 0 0;
  }

  &:active .next-country__name {
    padding: 11px 7px 11px 11px;

    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    border-radius: 4px 4px 0 0;
  }

  &:active .next-country__control--show-countries {
    display: none;
  }

  &:active .next-country__control--hide-countries {
    display: block;
  }

  @media (max-width: calc(@tablet-width - 1px)) {
    &::before {
      box-shadow: -10px 0 10px 15px @basic-white;
    }

    &:focus:not(:focus-visible):active::before {
      display: none;
    }

    &:focus:not(:focus-visible):active + .next-country__delete {
      display: none;
    }

    &:active::before {
      display: none;
    }

    &:active + .next-country__delete {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    &:focus:not(:focus-visible):active .next-country__name {
      padding: 27px 25px 23px;
    }

    &:active .next-country__name {
      padding: 27px 25px 23px;
    }
  }
}

.next-country__choice--add {
  &::before {
    background-color: @basic-light-grey;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @basic-light-grey;
    }
  }

  &:focus .next-country__name {
    color: @basic-blue-light;
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      background-color: @special-blue-light;
    }
  }

  &:hover::before,
  &:focus::before {
    background-color: @special-blue-light;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @special-blue-light;
    }
  }

  &:focus:not(:focus-visible)::before {
    background-color: @basic-light-grey;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @basic-light-grey;
    }
  }

  &:focus:not(:focus-visible):hover::before {
    background-color: @special-blue-light;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @special-blue-light;
    }
  }

  &:focus:not(:focus-visible):active .next-country__name {
    color: @basic-blue-light;
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px #dfe3f0, 10px 0 10px 15px #dfe3f0;
    }

    &::after {
      background-color: #dfe3f0;
    }
  }

  &:focus:not(:focus-visible):active::before {
    background-color: @special-blue-light;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @special-blue-light;
    }
  }

  &:focus-visible::before {
    background-color: @special-blue-light;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @special-blue-light;
    }
  }

  &:active .next-country__name {
    color: @basic-blue-light;
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px #dfe3f0, 10px 0 10px 15px #dfe3f0;
    }

    &::after {
      background-color: #dfe3f0;
    }
  }

  &:active::before {
    background-color: @special-blue-light;

    @media (max-width: calc(@tablet-width - 1px)) {
      box-shadow: -10px 0 10px 15px @special-blue-light;
    }
  }
}

.next-country__choice--add .next-country__name {
  background-color: @basic-light-grey;
  border-color: @basic-light-grey;

  &::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 14px;

    width: 14px;
    height: 14px;
    content: "";

    background-color: @basic-light-grey;
    box-shadow: -10px 0 10px 15px @basic-light-grey, 10px 0 10px 15px @basic-light-grey;
    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 14px;

    width: 14px;
    height: 14px;
    content: "";

    background: url("../img/icons/plus.svg") no-repeat center;
    background-size: contain;
    opacity: 0.2;
    transform: translateY(-50%);
  }

  @media (min-width: @tablet-width) {
    &::before,
    &::after {
      width: 21px;
      height: 21px;
    }

    &::after {
      right: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 23px;
    }
  }

  &:hover,
  &:focus {
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      opacity: 0.3;
    }
  }

  &:focus:not(:focus-visible) {
    background-color: @basic-light-grey;
    border-color: @basic-light-grey;

    &::before {
      background-color: @basic-light-grey;
      box-shadow: -10px 0 10px 15px @basic-light-grey, 10px 0 10px 15px @basic-light-grey;
    }

    &::after {
      opacity: 0.2;
    }
  }

  &:focus:not(:focus-visible):hover {
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      opacity: 0.3;
    }
  }

  &:focus:not(:focus-visible):active {
    color: @basic-blue-light;
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      opacity: 0.1;
    }
  }

  &:focus-visible {
    background-color: @special-blue-light;
    border-color: @special-blue-light;
    outline: none;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    color: @basic-blue-light;
    background-color: @special-blue-light;
    border-color: @special-blue-light;

    &::before {
      background-color: @special-blue-light;
      box-shadow: -10px 0 10px 15px @special-blue-light, 10px 0 10px 15px @special-blue-light;
    }

    &::after {
      opacity: 0.1;
    }
  }
}

.next-country__choice--active .next-country__control--show-countries,
.next-country__choice--add .next-country__control--show-countries {
  display: none;
}

.next-country__control--show-countries {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 16px;

  fill: fade(@basic-black, 30);
  background-color: @basic-white;
  transform: translateY(-50%);
  box-shadow: 0 0 5px 15px #ffffff, 14px 0 0 3px #ffffff;

  @media (min-width: @tablet-width) {
    right: 28px;
    width: 16px;
    height: 17px;

    box-shadow: 0 0 5px 15px #ffffff, 14px 0 0 10px #ffffff;
  }

  @media (min-width: @desktop-width) {
    right: 22px;

    width: 22px;
    height: 24px;
  }
}

.next-country__choice--completed .next-country__control--show-countries {
  right: 16px;

  @media (min-width: @tablet-width) {
    right: 28px;
  }

  @media (min-width: @desktop-width) {
    right: 23px;
  }
}

.next-country__control--hide-countries {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 17px;

  stroke: @basic-white;
  background-color: @basic-blue-light;
  transform: translateY(-50%);
  box-shadow: -10px 0 10px 15px @basic-blue-light, 10px 0 0 7px @basic-blue-light;

  @media (min-width: @tablet-width) {
    width: 36px;
    height: 25px;
    stroke: fade(@basic-white, 30);
  }
}

.next-country__choice--active + .next-country__delete,
.next-country__choice--add + .next-country__delete {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
  }
}

.next-country__delete {
  position: absolute;
  z-index: 1;
  top: -9px;
  right: -9px;
  width: 21px;
  height: 21px;
  padding: 0;

  background-color: @basic-light-grey;
  border-radius: 50%;

  &-img {
    stroke: #afb0b5;
  }

  @media (min-width: @tablet-width) {
    top: 25px;
    right: 0;

    width: 22px;
    height: 24px;

    background-color: transparent;

    &-img {
      width: 22px;
      height: 24px;
      stroke: fade(#000000, 10);
    }

    &:hover &-img,
    &:focus &-img {
      stroke: fade(#000000, 30);
    }

    &:focus:not(:focus-visible) &-img {
      stroke: fade(#000000, 10);
    }

    &:focus:not(:focus-visible):hover &-img {
      stroke: fade(#000000, 30);
    }

    &:focus:not(:focus-visible):active &-img {
      stroke: fade(#000000, 5);
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible &-img {
      stroke: fade(#000000, 30);
    }

    &:active &-img {
      stroke: fade(#000000, 5);
    }
  }

  @media (min-width: @desktop-width) {
    top: 22px;
    right: 3px;
  }
}

.next-country__popup {
  position: absolute;
  display: none;
  z-index: 3;
  top: 100%;
  right: 0;
  left: 0;

  margin-top: -1px;

  background-color: @basic-white;
  border-radius: 0 0 4px 4px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    grid-template-columns: 343px 1fr;
    padding: 35px 0 33px 27px;
    align-items: start;
    box-shadow: 0 8px 16px 0 rgba(54, 80, 148, 0.18);
    background-color: @basic-white;

    &::after {
      position: absolute;
      top: 0;
      left: 372px;
      bottom: 0;

      content: "";

      border-right: 1px solid @special-light-grey;
    }
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    grid-template-columns: 463px 1fr;

    &::after {
      left: 490px;
    }
  }
}

.next-country__popup--no-js {
  @media (min-width: @tablet-width) {
    &::after {
      top: 68px;
    }
  }
}

.next-country__choice--active ~ .next-country__popup {
  display: grid;

  @media (min-width: @tablet-width) {
    width: 574px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
  }
}

.next-country__choice--active ~ .next-country__popup--no-js {
  position: static;
  display: grid;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 730px;
  }
}
