.page-footer {
  background-color: @basic-white;
  border-radius: 25px 25px 0 0;
}

.page-footer__container {
  display: grid;
  justify-items: center;
  padding: 37px 0 0;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.page-footer__partner {
  padding: 13px 0 18px;
}
