.page-header {
  background-image: linear-gradient(to bottom, @basic-blue 0 73px, transparent 73px 100%);
}

.page-header--active {
  padding-top: 10px;
  background-image: linear-gradient(to bottom, @basic-white 0 73px, transparent 73px 100%);
}

.page-header--inner {
  background-image: linear-gradient(to bottom, @special-dark 0 73px, transparent 73px 100%);
}

.page-header__main-nav {
  position: relative;

  padding: 19px 0 0;
  min-height: 73px;
}
