.page-main__about-service {
  padding: 33px 0 60px;
}

.page-main__countries-preview {
  padding-bottom: 2px;
}

.page-main__users-preview {
  margin-top: -2px;
}

.page-main__country-filter {
  margin-bottom: 21px;
}

.page-main__users-catalog {
  margin-bottom: 46px;
}

.page-main__plans {
  background-color: @special-blue-light;
  border-radius: 25px 25px 0 0;
  padding: 28px 0 59px;
}

.page-main__new-plan {
  margin-top: -20px;

  background-color: @light-purple;
  border-radius: 25px 25px 0 0;
  padding: 28px 0 59px;
}
