.prefer-countries {
  display: grid;
  justify-items: start;
}

.prefer-countries--catalog::before {
  position: absolute;
  top: 8px;
  left: -20px;
  right: -65px;

  content: "";

  border-top: 1px solid @basic-light-grey;

  @media (min-width: @tablet-width) {
    left: -35px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.prefer-countries__title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 19px;
  margin-left: -4px;
  padding-left: 11px;
  padding-right: 10px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: lowercase;

  background-color: @basic-white;
}

.prefer-countries__title--catalog {
  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.prefer-countries__list {
  max-width: 225px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35px);

  list-style-type: none;
}

.prefer-countries__list--index {
  gap: 20px;
}

.prefer-countries__list--catalog {
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.prefer-countries__item {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 14px;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &--sri-lanka {
    background-image: url("../img/countries/flags/sri-lanka@1x.jpg");
  }

  &--thailand {
    background-image: url("../img/countries/flags/thailand@1x.jpg");
  }

  &--seychelles {
    background-image: url("../img/countries/flags/seychelles@1x.jpg");
  }

  &--czech {
    background-image: url("../img/countries/flags/czech@1x.jpg");
  }

  &--belgium {
    background-image: url("../img/countries/flags/belgium@1x.jpg");
  }

  &--bosnia {
    background-image: url("../img/countries/flags/bosnia@1x.jpg");
  }

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    left: 50%;

    display: none;

    transform: translateX(-50%);
  }

  &::before {
    top: calc(100% + 10px);
    padding: 20px;
    content: attr(data-country);
    width: max-content;
    max-width: 180px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: @basic-white;

    background-color: @icon-blue;
    border-radius: 4px;
  }

  &::after {
    top: 100%;

    content: "";

    border-top: none;
    border-right: 10px solid transparent;
    border-bottom: 12px solid @icon-blue;
    border-left: 10px solid transparent;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }
}

.prefer-countries__item--index {
  width: 35px;
  height: 25px;
  background-size: 35px;
}

.prefer-countries__item--catalog {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.prefer-countries__country-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;

  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.prefer-countries__country-name--catalog {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.prefer-countries__img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
