.prefer-transport {
  display: grid;
  justify-items: start;
}

.prefer-transport--catalog::before {
  position: absolute;
  top: 8px;
  left: -20px;
  right: 0;

  content: "";

  border-top: 1px solid @basic-light-grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.prefer-transport__title {
  margin: 0;
}

.prefer-transport__title--catalog {
  position: relative;
  z-index: 1;

  margin-bottom: 10px;
  margin-left: -4px;
  padding-left: 11px;
  padding-right: 10px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: lowercase;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.prefer-transport__title--form {
  position: absolute;
  bottom: 90%;
  left: 50%;

  max-height: 33px;
  padding: 0 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue-light;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;

  background-color: @basic-light-grey;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    bottom: auto;
    top: 90%;
    max-width: 270px;
    max-height: 42px;

    font-size: 20px;
    line-height: 20px;
    overflow-wrap: break-word;
  }

  @media (min-width: @desktop-width) {
    max-height: 38px;
  }
}

.prefer-transport__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}

.prefer-transport__list--center {
  justify-self: center;
}

.prefer-transport__list--form {
  width: 100%;
  padding: 16px 25px 15px;

  background-color: transparent;
  border: 1px solid @special-light-grey;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    align-items: center;
  }
}

.prefer-transport__list--vertical {
  @media (min-width: @tablet-width) and (max-width: calc(@desktop-width - 1px)) {
    flex-direction: column;
  }
}

.prefer-transport__list--catalog {
  align-self: end;

  @media (min-width: @tablet-width) {
    align-self: start;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
  }
}

.prefer-transport__item {
  position: relative;
  display: grid;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-items: center;

  background-color: @basic-light-grey;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    left: 50%;

    display: none;

    transform: translateX(-50%);
  }

  &::before {
    z-index: 2;
    top: calc(100% + 10px);
    padding: 20px;
    content: attr(data-transport);

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: @basic-white;

    background-color: @icon-blue;
    border-radius: 4px;
  }

  &::after {
    top: 100%;

    content: "";

    border-top: none;
    border-right: 10px solid transparent;
    border-bottom: 12px solid @icon-blue;
    border-left: 10px solid transparent;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
    background-color: transparent;
  }
}

.prefer-transport__item .prefer-transport__img {
  fill: @icon-blue;
}

.prefer-transport__item--disabled .prefer-transport__img {
  fill: fade(@basic-blue-light, 15);
}

.prefer-transport__item--index {
  background-color: @basic-white;
}

.prefer-transport__item--button {
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 40px;
  }
}

.prefer-transport__item--catalog {
  display: grid;
  align-items: center;
  justify-items: center;

  @media (max-width: calc(@tablet-width - 1px)) {
    margin-right: 1px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @tablet-width) {
    height: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 40px;
  }
}

.prefer-transport__item--catalog-active .prefer-transport__icon {
  width: 14px;
  height: 16px;
  fill: @basic-blue-light;
}

.prefer-transport__button {
  width: 32px;
  height: 32px;
  padding: 0;

  background-color: @basic-white;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
  }

  &--off .prefer-transport__img {
    fill: #d9d9d9;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
  }

  &:hover .prefer-transport__img,
  &:focus .prefer-transport__img {
    opacity: 0.7;
  }

  &--off:hover .prefer-transport__img,
  &--off:focus .prefer-transport__img {
    fill: #b2b2b2;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus:not(:focus-visible) .prefer-transport__img {
    opacity: 1;
  }

  &--off:focus:not(:focus-visible) .prefer-transport__img {
    fill: #d9d9d9;
  }

  &:focus:not(:focus-visible):hover {
    box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
  }

  &:focus:not(:focus-visible):hover .prefer-transport__img {
    opacity: 0.7;
  }

  &--off:focus:not(:focus-visible):hover .prefer-transport__img {
    fill: #b2b2b2;
  }

  &:focus:not(:focus-visible):active {
    background-color: @special-active-grey;
    box-shadow: none;

    .prefer-transport__img {
      fill: @basic-blue-light;
      opacity: 0.3;
    }
  }

  &--off:focus:not(:focus-visible):active {
    background-color: @special-active-grey;

    .prefer-transport__img {
      fill: @basic-blue-light;
      opacity: 0.1;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);

    .prefer-transport__img {
      opacity: 0.7;
    }
  }

  &--off:focus-visible {
    outline: none;

    .prefer-transport__img {
      fill: #d9d9d9;
    }
  }

  &:active {
    background-color: @special-active-grey;
    box-shadow: none;

    .prefer-transport__img {
      opacity: 0.3;
    }
  }

  &--off:active {
    background-color: @special-active-grey;

    .prefer-transport__img {
      fill: @basic-blue-light;
      opacity: 0.1;
    }
  }
}
