.prefer-countries {
  display: grid;
  justify-items: start;
}

.prefer-countries--catalog::before {
  position: absolute;
  top: 8px;
  left: -20px;
  right: -65px;

  content: "";

  border-top: 1px solid @basic-light-grey;

  @media (min-width: @tablet-width) {
    left: -35px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.prefer-countries__title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 19px;
  margin-left: -4px;
  padding-left: 11px;
  padding-right: 10px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: lowercase;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }
}

.prefer-countries__title--catalog {
  @media (min-width: @tablet-width) {
    margin-left: 38px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.prefer-countries__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: start;

  list-style-type: none;
}

.prefer-countries__list--index {
  min-width: 145px;
  max-width: 230px;
  justify-content: center;
  gap: 20px;
}

.prefer-countries__list--catalog {
  min-height: 53px;
  gap: 8px;

  @media (min-width: @tablet-width) {
    min-height: auto;
    gap: 25px;
  }

  @media (min-width: @desktop-width) {
    gap: 3px;
  }
}

.prefer-countries__item {
  position: relative;

  display: grid;
  align-items: center;

  background-repeat: no-repeat;

  &:last-child {
    margin-bottom: 0;
  }

  &--sri-lanka {
    background-image: url("../img/countries/flags/sri-lanka@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/sri-lanka@2x.jpg");
    }
  }

  &--thailand {
    background-image: url("../img/countries/flags/thailand@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/thailand@2x.jpg");
    }
  }

  &--seychelles {
    background-image: url("../img/countries/flags/seychelles@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/seychelles@2x.jpg");
    }
  }

  &--czech {
    background-image: url("../img/countries/flags/czech@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/czech@2x.jpg");
    }
  }

  &--belgium {
    background-image: url("../img/countries/flags/belgium@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/belgium@2x.jpg");
    }
  }

  &--bosnia {
    background-image: url("../img/countries/flags/bosnia@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/bosnia@2x.jpg");
    }
  }

  &--usa {
    background-image: url("../img/countries/flags/usa@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/usa@2x.jpg");
    }
  }

  &--australia {
    background-image: url("../img/countries/flags/australia@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/australia@2x.jpg");
    }
  }

  &--dominica {
    background-image: url("../img/countries/flags/dominica@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/dominica@2x.jpg");
    }
  }

  &--germany {
    background-image: url("../img/countries/flags/germany@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/germany@2x.jpg");
    }
  }

  &--uk {
    background-image: url("../img/countries/flags/uk@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries/flags/uk@2x.jpg");
    }
  }
}

.prefer-countries__item--index {
  width: 35px;
  height: 25px;

  background-size: 35px;
  background-position: center;
  border-radius: 6px;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    left: 50%;

    display: none;

    transform: translateX(-50%);
  }

  &::before {
    top: calc(100% + 10px);
    padding: 20px;
    content: attr(data-country);
    width: max-content;
    max-width: 180px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: @basic-white;

    background-color: @icon-blue;
    border-radius: 4px;
  }

  &::after {
    top: 100%;

    content: "";

    border-top: none;
    border-right: 10px solid transparent;
    border-bottom: 12px solid @icon-blue;
    border-left: 10px solid transparent;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }
}

.prefer-countries__item--catalog {
  margin-left: 5px;
  padding-left: 40px;

  background-size: 26px 18px;
  background-position: center left;
  border-radius: 2px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-left: 2px;
    padding-left: 45px;
    background-size: 35px 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 53px;
    background-size: 35px 24px;
  }
}

.prefer-countries__country-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.prefer-countries__country-name--catalog {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    line-height: 34px;
  }
}

.prefer-countries__img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
