.regions {
  list-style-type: none;
}

.regions__item {
  @media (min-width: @tablet-width) {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.regions__link {
  display: grid;
  max-width: 220px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-dark;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus:not(:focus-visible) {
    opacity: 0.3;
  }

  &:focus:not(:focus-visible):hover {
    opacity: 0.6;
  }

  &:focus:not(:focus-visible):active {
    opacity: 1;
  }

  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 1;
  }
}

.regions__link--active {
  opacity: 1;
  pointer-events: none;
}
