.route-countries {
  position: relative;

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      top: 0;
      right: 139px;
      bottom: -35px;

      content: "";

      border-right: 1px solid @light-grey;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      right: auto;
      left: 775.5px;
    }
  }
}

.route-countries__next-country {
  position: relative;
  display: grid;
  margin-bottom: 22px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
