.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: calc(@tablet-width - 1px)) {
    margin-bottom: 70px;
  }
}

.user-menu--inner-page {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-menu__link {
  display: grid;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-items: center;

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.user-menu__link .user-menu__icon {
  fill: @basic-blue;
}

.user-menu__link--phone {
  background-color: @special-orange;
}

.user-menu__link--phone:hover,
.user-menu__link--phone:focus {
  background-color: @interactive-orange-dark;
}

.user-menu__link--phone:focus:not(:focus-visible) {
  background-color: @special-orange;
}

.user-menu__link--phone:focus:not(:focus-visible):hover {
  background-color: @interactive-orange-dark;
}

.user-menu__link--phone:focus:not(:focus-visible):active {
  background-color: @interactive-orange-dark;
}

.user-menu__link--phone:focus:not(:focus-visible):active .user-menu__icon {
  fill: fade(@basic-blue, 30);
}

.user-menu__link--phone:focus-visible {
  background-color: @interactive-orange-dark;
  outline: none;
}

.user-menu__link--phone:active .user-menu__icon {
  fill: fade(@basic-blue, 30);
}

.user-menu__link--email {
  background-color: @special-yellow-dark;
}

.user-menu__link--email:hover,
.user-menu__link--email:focus {
  background-color: @interactive-orange-light;
}

.user-menu__link--email:focus:not(:focus-visible) {
  background-color: @special-yellow-dark;
}

.user-menu__link--email:focus:not(:focus-visible):hover {
  background-color: @interactive-orange-light;
}

.user-menu__link--email:focus:not(:focus-visible):active {
  background-color: @interactive-orange-light;
}

.user-menu__link--email:focus:not(:focus-visible):active .user-menu__icon {
  fill: fade(@basic-blue, 30);
}

.user-menu__link--email:focus-visible {
  background-color: @interactive-orange-light;
  outline: none;
}

.user-menu__link--email:active .user-menu__icon {
  fill: fade(@basic-blue, 30);
}

.user-menu__login {
  min-width: 188px;
  padding: 12px 20px 8px;
  align-self: flex-start;

  background-color: @basic-yellow;

  @media (min-width: @tablet-width) {
    max-width: 310px;
    margin-left: auto;
    padding: 16px 32px 13px 30px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding: 16px 32px 13px 30px;
  }

  &:hover,
  &:focus {
    background-color: @special-yellow-dark;
  }

  &:focus:not(:focus-visible) {
    background-color: @basic-yellow;
  }

  &:focus:not(:focus-visible):hover {
    background-color: @special-yellow-dark;
  }

  &:focus:not(:focus-visible):active {
    background-color: @special-yellow-dark;
    color: fade(@basic-blue, 30);
  }

  &:focus-visible {
    background-color: @special-yellow-dark;
    outline: none;
  }

  &:active {
    color: fade(@basic-blue, 30);
  }
}
