.users-catalog__container {
  margin-bottom: 28px;
  padding: 26px 25px;
  background-color: @basic-yellow;
  border-radius: 20px;
}

.users-catalog__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: @basic-blue-light;
}

.users-catalog__list {
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}

.users-catalog__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
