.users-catalog-pagination {
  display: grid;
}

.users-catalog-pagination__more {
  margin-bottom: 18px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.users-catalog-pagination__num {
  display: none;
}
