.user-menu {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: calc(@tablet-width - 1px)) {
    margin-bottom: 70px;
  }
}

.user-menu--inner-page {
  display: none;
}

.user-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-menu__link {
  display: block;
  width: 40px;
  height: 40px;

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.user-menu__link--phone {
  background-color: @special-orange;
}

.user-menu__link--email {
  background-color: @special-yellow-dark;
}

.user-menu__login {
  flex-grow: 1;
  align-self: flex-start;
  padding: 12px 20px 8px;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
    margin-left: auto;
    padding: 16px 32px 13px 30px;
  }
}
