.button {
  display: grid;
  align-items: center;
  justify-items: center;

  font-family: @general-font-family;
  font-style: normal;
  text-decoration: none;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button--primary {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue;
  text-transform: uppercase;

  background-color: @basic-yellow;
  border-radius: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.button--iconic {
  border-radius: 50%;
}

.button--secondary {
  justify-items: start;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: none;

  background-color: @basic-yellow;
  border-radius: 10px;

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.button--social {
  width: 45px;
  height: 45px;
  background-color: @basic-yellow;
}
