.container {
  width: calc(@mobile-width - 50px); // 50px - внутренние отступы
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: calc(@tablet-width - 80px); // 80px - внутренние отступы
  }

  @media (min-width: @desktop-width) {
    width: calc(@desktop-width - 120px); // 120px - внутренние отступы
  }
}
